* {
  box-sizing: border-box;
}

body {
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  background-color: #75B9C2;
  color: black;
  text-align: center;
  line-height: 1.5;
}

.home-img {
  padding-right: 6px;
}

a {
  text-decoration: none;
}

.nav-link {
    margin-right: 15px;
    color: #A3D0D6;
}

.nav-link:hover {
  color: #F0F3BD;
}

.NavBar {
  padding: 1% 0;
  background-color: #021C27;
  color: white;
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}